# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1) python
2) R programming
3) SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
1. numpy
1. matplotlib
1. scikit-learn

# Table

|Data Science Tools|
|----|
|RStudioApache|
|TensorFlow|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
print((3*4)+5)
#This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print(200%60)

20

In [7]:
# This will convert 200 minutes to hours by diving by 60
total_minutes = 200
hours = total_minutes // 60
minutes = total_minutes % 60
print(f"{hours}:{minutes}")

3:20

## Objectives:

* list popular languages for Data Science.
* list the popular libraries used for Data Science
* list the open source tools
* understand how to use markdown in jupyter notebooks
* how to create basic python code

## Author:
  ~ Aman Gupta